html, body {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
	font-family: Courier;
	font-size: 16px;
}
.bg {
	background-image: url(../img/wall-12.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-size: cover;
}
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
.content{
    width: 50%;
	background-color: rgba(30,144,255,0.5);
	padding: 1%;
	text-align: center;
    border-radius: 10px;
}
.content textarea {
	width: 80%;
	margin-bottom: 3%;
	border-radius: 5px;
}
.btn{
	background-color: #1C9DEC;
	border: 2px solid #fff;
	border-radius: 5px;
	color: #fff;
	padding: 2% 3%;
	cursor: pointer;
}
.btn:hover {
	background-color: #fff;
	border: 2px solid #1C9DEC;
	color: #1C9DEC;
}
.nuevoMensaje {
	background-color: #fff;
	border-radius: 5px;
    margin: 1.5% auto;
    padding: 1%;
    width: 80%;
    word-wrap: break-word;
}
/*--Cambio colores--*/
.white {
	color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}
.green {
	color: #298A08;
	font-weight: bold;
    font-size: 1.2em;
}
.red {
	color: #FF0000;
	font-weight: bold;
    font-size: 1.2em;
}
.orange {
	color: #FF4000;
	font-weight: bold;
    font-size: 1.2em;
}
/*-----Responsive--------*/
@media (max-width: 1024px){
	body{
	font-size: 16px;
	}
}
@media (max-width: 982px){
	body{
	font-size: 14px;
	}
}
@media (max-width: 768px){
	body{
	font-size: 14px;
	}
}
@media (max-width: 640px){
	body{
	font-size: 12px;
	}
}
