* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
body {
	background-image: url(../img/wall-12.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	background-size: cover;
	font-family: Courier;
	height: 100vh;
	width: 100%;
}
.p-3{padding: 3%;}
#contador{
	margin: 3% 0%;
	font-weight: bold;
}
textarea.materialize-textarea{padding: 0px;}
textarea.materialize-textarea:focus:not([readonly]){
	border-bottom: 1px solid #64b5f6 ;
	box-shadow: 0 1px 0 0 #64b5f6 ;
}
textarea.materialize-textarea:focus:not([readonly])+label{
	color: #64b5f6 ;
	font-size: 1rem;
}
#mensajes{
	height: 38vh;
	overflow-y: auto;
	overflow-x: hidden;
}
.nuevoMensaje {
	background-color: #fff;
	border-radius: 5px;
    margin: 1.5% auto;
    padding: 1%;
}
.tweet{
	overflow-wrap: break-word;
    display: block;
}
/*****cambio de colores**********/
.celeste{color: #1976d2;}
.rojo{color: #b71c1c;}
.verde{color: #00695c;}
.naranja{color: #d13a08;}
